body {
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator {
    display:flex;
    flex-direction: column;
    border: black 1px solid;
    border-radius: 8px;
    background-color: grey;
    padding: 10px;
}

button {
    height: 50px;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
}

.number-button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.number-button button {
    flex-grow: 1;
    flex:1 0 20%;
    margin:5px;
}

.screen {
    background-color: azure;
    text-align: right;
    margin: 5px;
    border: black 2px solid;
    padding: 5px;
    height: 40px;
    font-size: 30px;
}

.top-button {
    display: flex;
}

.top-button button{
    flex-grow: 1;
    margin: 5px;
}

.title {
    margin: 50px;
    font-weight: bold;
    font-size: 20px;
}